@import '../../variables.scss';

.custom-button {
  display: block;
  line-height: 0;
  width: 7rem;
  height: .6rem;
  margin: 1rem 0rem;
  padding: 1rem 1rem;
  font-size: 1.3em;
  background-color: $brand-color;
  color: white;
  text-transform: capitalize;
  font-family: 'Open Sans';
  font-weight: lighter;
  border-radius: 3px;
  border: none;
  cursor: pointer;


  &:hover {
    background-color: white;
    color: $brand-color;
  }
}
