@import '../../variables.scss';

.metric-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &.green {
    background-color: $green;
    padding: 1rem 2rem;
    border-radius: 3px;
    h1, h2 {
      color: white;
      letter-spacing: 1px;
    }
  }

  &.red {
    background-color: $red;
    padding: 1rem 2rem;
    border-radius: 3px;
    h1, h2 {
      color: white;
      letter-spacing: 1px;
    }
  }

  &.purple {
    background-color: $purple;
    padding: 1rem 2rem;
    border-radius: 3px;
    h1, h2 {
      color: white;
      letter-spacing: 1px;
    }
  }

  h1 {
    color: $gray-color;
    font-family: 'Open Sans';
    margin-bottom: .5rem;
  }

  h2 {
    color: $gray-color;
    font-weight: lighter;
    font-size: 1.25em;
  }
}
