@import '../../variables.scss';

.menu-item {
  min-width: 45%;
  height: 24em;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  margin: .1rem;


  .background-image {
    background-position: center;
    align-self: center;
    background-size: cover;
    width: 50%;
    height: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-weight: 500;
      font-size: 1.6em;
      color: $gray-color;
    }

    .subtitle {
      font-weight: 300;
      font-size: 1.3em;
      color: $gray-color;
    }
  }
}
