body {
  font-family: 'Maven Pro', sans-serif;
  padding: 20px 5px;
}

a {
  text-decoration: none;
  color: black;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* defines what 1rem is -- 10px */
  /* font-weight: 300; */
  font-size: 62.5%; 
  overflow: scroll;
  overflow-x: hidden;
  
}
