@import '../../variables.scss';

.collabs-header {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin: 5rem 5rem;

  .collab-title {
    padding: 2rem 2rem;
    
    h1 {
      color: $brand-color;
      padding-bottom: 1rem;
    }

    h2 {
      color:$secondary-gray;
      font-weight: 100;
    }
  }

  .collabs-menu {
    width: 30vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: white;

    &::-webkit-scrollbar {
      width: 2px;
    }
    
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.3); 
      box-shadow: inset 0 0 20px rgba(0,0,0,0.3); 
      border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 50px $scroll-color; 
      box-shadow: inset 0 0 50px $scroll-color; 
    }
    
    &::-webkit-scrollbar-thumb:hover {
     -webkit-box-shadow: inset 0 0 50px $scroll-color;
     box-shadow: inset 0 0 50px $scroll-color;
    }

  }
}
