.collabs-header {
  display: flex;
  background-color: lightgray;
  flex-direction: column;
  margin: 5em 5em;

  .collab-title {
    padding: 2rem 2rem;
  }

  .collabs-menu {
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: lightgray;
  }
}
